html,body{
    height:100%;
}

p {
    font-family: 'Raleway', sans-serif;
}

#content a:visited, #content a:link {
    color: black;
}

#languagebutton h5:hover{
    font-size: 150%;
}

#button p:hover,#socialbuttons a:hover{
    font-size:125%;
}

#content a:hover {
    background: linear-gradient(to bottom left,#FFFF00 0%,#00FFFF 100%);
    -webkit-text-fill-color: white;
    text-decoration: none;
    padding:5px;
}

@media (min-width: 768px){
    #left {
        position: fixed;
        top: 0;
        bottom: 0;
    }
    #button p {
        padding:15px;
    }
    .socialbuttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 3%;
    }

    #presentation p,h5 {
        line-height: 2;
        font-size: 110%;
    }
}

@media (max-width: 768px){
    #left {
        height: 80%;
    }
    #button p {
        padding:10px;
    }
    .socialbuttons {
        position: absolute;
        top:3%;
        right:5%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 3%;
    }
    #presentation p,h5 {
        line-height: 1.5;
    }

}

.me {
    width:100%;
    height: 100%;
    background-image:url(me.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:50% 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#languagebutton h5, #presentation h5 {
    color: white;
    vertical-align: bottom;
    text-align:center;
    line-height: 1.5;
    font-family: 'Raleway', sans-serif;
}

#presentation p {
    color: white;
    vertical-align: bottom;
    text-align:center;
}

#languagebutton strong, #presentation strong {
    background: linear-gradient(to bottom left,#FFFF00 0%,#00FFFF 130%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-weight: 900;
}

.button {
    text-align: center;
}

#button p {
    font-style:italic;
    display: inline-block;
    text-transform:uppercase;
    color:#fff;
    text-align:center;
    background: linear-gradient(to bottom left,#FFFF00 0%,#00FFFF 70%);
    font-weight: 700;
}

.content {
    padding-top: 2%;
    padding-bottom: 2%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#content h4 {
    margin-left: 5%;
    margin-right: 5%;
    background: linear-gradient(to bottom left,#FFFF00 0%,#00FFFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    text-transform:uppercase;
    font-family: 'Raleway', sans-serif;
    line-height: 2;
}

#content h5 {
    margin-left: 10%;
    margin-right: 5%;
    font-weight: 900;
    text-transform:uppercase;
    font-family: 'Raleway', sans-serif;
}

#content p {
    margin-left: 10%;
    margin-right: 5%;
    vertical-align: bottom;
    text-align:justify;
}

#content strong {
    background: linear-gradient(to bottom left,#FFFF00 0%,#00FFFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: justify;
    font-weight: 700;
    font-size:110%;
}

.languagebutton {
    position:absolute;
    top:3%;
    left:5%;
}

#socialbuttons a {
    min-height:40px;
    min-width:40px;
    max-height:40px;
    max-width:40px;
    height: 8%;
    width: 8%;
    padding:5px;
}

.row {
    height: 100%;
}